.expenseItem {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    background-color: #696969;
    padding: 2rem;
    border-radius: 16px;
}


.expenseItem .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.expenseItem .amount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 16px;
    background-color: #4B0082;
    color: white;
    padding: .5rem 1rem;
}

.expenseItem .btn{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: lightskyblue;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.hidden{
    display: none;
}