.expenses{
    padding: 1rem 2rem;
    margin: 1rem auto;
    width: 600px;
    border-radius: 16px;
    background-color: #303030;
}

.no-expenses{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}