form{
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.expense-form .title-input-wrap{
    font-size: 20px;
    font-weight: 600;
}

.expense-form .title-input-wrap input {
    width: auto;
    margin-top: .25rem;
    font-size: 18px;
    border-radius: 16px;
    border: 1px solid transparent;
    padding: .5rem 1rem;
}

.expense-form .amount-input-wrap{
    font-size: 20px;
    font-weight: 600;
}

.expense-form .amount-input-wrap input {
    width: auto;
    margin-top: .25rem;
    font-size: 18px;
    border-radius: 16px;
    border: 1px solid transparent;
    padding: .5rem 1rem;
}

.expense-form .date-input-wrap{
    font-size: 20px;
    font-weight: 600;
}

.expense-form .date-input-wrap input {
    width: auto;
    font-size: 18px;
    border-radius: 16px;
    border: 1px solid transparent;
    padding: .5rem 1rem;
}

.expense-form .add-expense-btn {
    background-color:#4B0082;
    color: white;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    border-radius: 16px;
    font-size: 18px;
    padding: 1rem;
    text-align: center;
    grid-row: 3 / 4;
}

.expense-form{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


.cancel{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color:#4B0082;
    color: white;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    border-radius: 16px;
    font-size: 18px;
    padding: 1rem 2rem;
    text-align: center;
}